@import "./styles/MultiText.css";
@import "./styles/Input.css";
@import "./styles/Tabs.css";
@import "./styles/Pagination.css";

body.ui-theme-default {
    @apply flex h-full flex-col
    bg-zinc-50 text-zinc-950
    dark:bg-zinc-950 dark:text-zinc-50
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.prose input[type=checkbox], .ui-checkbox[type=checkbox] {
    @apply rounded;
}

.prose input[type=radio], .ui-checkbox[type=radio] {
    @apply rounded-full;
}

#__next {
    height: 100%;
}

input[type="datetime-local"]::-webkit-date-and-time-value,
input[type="date"]::-webkit-date-and-time-value {
    text-align: left;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}
